// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant


$base_color: #2a2f30;
$bg_color: #353a3b;
$fg_color: #ddd;

$selected_fg_color: #eee;
$selected_bg_color: desaturate(darken(#d3e6f9, 45%), 30%);
$selected_borders_color: darken($selected_bg_color, 20%);
$borders_color: lighten($bg_color, 12%);
$borders_edge: transparentize($fg_color, 0.9);
$link_color: lighten($selected_bg_color, 20%);
$link_visited_color: lighten($selected_bg_color, 10%);
$top_hilight: $borders_edge;

$warning_color: #f57900;
$error_color: #e63232;
$success_color: desaturate(darken(#9fc57b, 25%), 10%);
$destructive_color: desaturate(darken(#d97b7b, 25%), 10%);

$osd_fg_color: #ddd;
$osd_bg_color: #2d3233;
$osd_borders_color: transparentize(black, 0.5);
$osd_outer_borders_color: transparentize(white, 0.9);

$tooltip_borders_color: $osd_outer_borders_color;

//insensitive state derived colors
$insensitive_fg_color: mix($fg_color, $bg_color, 50%);
$insensitive_bg_color: mix($bg_color, $base_color, 60%);
$insensitive_borders_color: $borders_color;

//colors for the backdrop state, derived from the main colors.
$backdrop_base_color: lighten($base_color, 1%);
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: mix($fg_color, $backdrop_bg_color, 80%);
$backdrop_insensitive_color: lighten($backdrop_bg_color, 15%);
$backdrop_borders_color: mix($borders_color, $bg_color, 90%);
$backdrop_dark_fill: mix($backdrop_borders_color, $backdrop_bg_color, 35%);
