  .system-menu-action {
    color: $fg_color;
    border-radius: 2px; /* wish we could do 50% */
    padding: 13px;
    border: 1px solid $borders_color;
    background-color: lighten($bg_color, 2%);
    box-shadow: inset 0 1px transparentize(white, .95);

    &:hover, &:focus {
      background-color: lighten($bg_color, 5%);
    }
    &:active {
      background-color: $selected_bg_color;
      color: $selected_fg_color;
      box-shadow: none;
    }

    & > StIcon { icon-size: 16px; }
  }

/* Slider */

.slider {
  margin: 4px;
  height: 1em;
  -slider-height: 0.3em;
  -slider-background-color: $borders_color; //background of the trough
  -slider-border-color: $borders_color; //trough border color
  -slider-active-background-color: $selected_bg_color; //active trough fill
  -slider-active-border-color: $selected_bg_color; //active trough border
  -slider-border-width: 1px;
  -slider-handle-radius: 6px;
}


/* OSD */
.osd-window {
  text-align: center;
  font-weight: bold;
  spacing: 1em;
  margin: 32px;
  min-width: 64px;
  min-height: 64px;

  .osd-monitor-label { font-size: 3em; }
  .level {
    height: 0.6em;
    border-radius: 0.3em;
    background-color: transparentize(darken($osd_bg_color,15%),0.5);
    color: $osd_fg_color;
  }
  .level-bar {
    background-color: $osd_fg_color;
    border-radius: 0.3em;
  }
}

