/.gitignore export-ignore
/.gitattributes export-ignore
/fedora-spec export-ignore
/screenshots export-ignore
/firefox-tweak export-ignore
/firefox-tweak-dark export-ignore

/src/gtk-2.0/render-assets.sh export-ignore
/src/gtk-2.0/assets.svg export-ignore
/src/gtk-2.0/assets.txt export-ignore
/src/gtk-2.0/render-assets-external.sh export-ignore
/src/gtk-2.0/assets-external.txt export-ignore
/src/gtk-2.0/assets-external.svg export-ignore

/src/gtk-3.0/parse-sass.sh export-ignore
/src/gtk-3.0/render-assets.sh export-ignore
/src/gtk-3.0/assets.svg export-ignore
/src/gtk-3.0/assets.txt export-ignore
