  // Gedit

.open-document-selector-treeview {
  &:hover { 
    background-color: transparentize($bg_color, 0.8);
    &:selected { background-color: $selected_bg_color; }
  }
}

.open-document-selector-name-label {
  color: $fg_color;
}

.open-document-selector-path-label {
  color: $backdrop_fg_color;
  font-size: smaller;
}

.gedit-document-panel {
  background-color: $bg_color;
  &:backdrop {
    background-color: $backdrop_bg_color;
    color: $backdrop_fg_color;
  }

  row {
    button.flat {
      @include button(undecorated);
      padding: 0;
      margin-top: 2px;
      margin-bottom: 2px;
      min-width: 20px;
      min-height: 20px;
      color: transparentize($fg_color, 0.7);
      &:hover { color: $fg_color; }
    }
    &:hover {
      button.flat { 
        color: transparentize($fg_color, 0.5);
        &:hover { color: $fg_color; } 
      }
    }
    &:selected {
      button.flat:not(:active):not(:checked):not(:hover):not(disabled) {
        color: transparentize($selected_fg_color, 0.5);
        &.image { color: transparentize($selected_fg_color, 0.5); }
      }
      button.flat:hover { @include button(undecorated); color: $selected_fg_color; }
    }
  }
}

.gedit-document-panel-group-row {
  border-top: 1px solid transparentize($fg_color, 0.7);
  &:first-child { border-top: 0px; }
}

statusbar {
    border-top: 1px solid $borders_color;
}

.gedit-search-slider {
    background-color: $menu_color;
    padding: 6px;
    border-color: $borders_color;
    border-radius: 0 0 3px 3px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
}

.gedit-search-entry-occurrences-tag {
    background-color: $base_color;
    background-image: none;
    color: mix($fg_color, $base_color, 70%);
    border: 0px;
    margin: 2px;
    padding: 2px;
}




  // Lollypop

treeview .sidebar.view {
  &:selected {
    &:focus, & {
      border-radius: 0;

      @extend %selected_row;
    }

    &:backdrop, & {
      border-left-color: mix($selected_fg_color, $selected_bg_color, 50%);
      border-top-color: transparentize($fg_color, 0.9); // doesn't work unfortunatelly
    }
  }
}



  // Fractal

headerbar button.image-button.popup.toggle { min-height: 24px; padding-top: 2px; padding-bottom: 2px; }
