%linked_middle {
  border-radius: 0;
  border-right-style: none;
}

%linked {
  @extend %linked_middle;

  &:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  &:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-right-style: solid;
  }

  &:only-child {
    border-radius: 2px;
    border-style: solid;
  }
}

%linked_vertical_middle {
  border-style: solid solid none solid;
  border-radius: 0;
}

%linked_vertical{
  @extend %linked_vertical_middle;

  &:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  &:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-style: solid;
  }

  &:only-child {
    border-radius: 2px;
    border-style: solid;
  }
}

////


headerbar {
  // add vertical margins to common widget on the headerbar to avoid them spanning the whole height
  entry,
  spinbutton,
  separator,
  button {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  switch {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

////

.sidebar {
  border-style: none;
  background-color: mix($bg_color, $base_color, 60%);

  @at-root %sidebar_left,
  &:dir(ltr),
  &.left,
  &.left:dir(rtl) {
    border-right: 1px solid $borders_color;
    border-left-style: none;
  }

  @at-root %sidebar_right
  &:dir(rtl),
  &.right {
    border-left: 1px solid $borders_color;
    border-right-style: none;
  }

  list { background-color: transparent; }

  paned & { &.left, &.right, &.left:dir(rtl), &:dir(rtl), &:dir(ltr), & { border-style: none; }}
}

////

headerbar.selection-mode button.titlebutton,
.titlebar.selection-mode button.titlebutton {
  @include _button_text_shadow(white, $selected_bl_color);

  &:backdrop { -gtk-icon-shadow: none; }
}

////

.emoji {
  font-size: x-large;
  padding: 6px;
  border-radius: 3px;

  :hover {
    background: $selected_bl_color;
    border-radius: 3px;
  }
}
