  // Xfce Panel

$xfce_panel_bg_color: #333839;
$xfce_panel_fg_color: #d2d2d2;
$xfce_panel_selected_fg_color: #e2e2e2;

.xfce4-panel.panel {
  background-color: $xfce_panel_bg_color;
  font-weight: normal;
  text-shadow: none;
  -gtk-icon-shadow: none;

  button.flat { @extend %xfce_panel_button; }
}

.xfce4-panel.panel menu {
  font-weight: normal;
}

#tasklist-button {
  color: transparentize($xfce_panel_fg_color, 0.2);
  border-radius: 0;
  border: none;
  background-color: transparentize($xfce_panel_bg_color, 1);

  &:hover {
    color: lighten($xfce_panel_fg_color, 10%);
    background-color: transparentize(black, 0.8);
  }

  &:checked {
    color: lighten($xfce_panel_fg_color, 10%);
    background-color: transparentize(black, 0.75);
    box-shadow: inset 0 -2px $selected_bg_color;
  }
}

%xfce_panel_button {
  color: $xfce_panel_fg_color;
  border-radius: 2px;
  border: none;
  background-color: transparentize($xfce_panel_bg_color, 1);
  margin-left: 1px;
  margin-right: 1px;

  &:hover {
    color: $xfce_panel_selected_fg_color;
    border: none;
    box-shadow: none;
    background-image: image(lighten($xfce_panel_bg_color, 9%));
  }
  &:active, &:checked {
    color: $xfce_panel_selected_fg_color;
    border: none;
    background-image: image(lighten($xfce_panel_bg_color, 12%));

    label, image { color: inherit; }
  }
}


  // Xfce pulseaudio plugin

#pulseaudio-button menu {
  scale trough {
    @extend %scale_trough;
    background-color: darken($dark_fill, 5%);
  }
  @if $variant == 'dark' {
    scale highlight {
      box-shadow: 0 0 0 1px $bg_color;
    }
    switch:checked {
      box-shadow: 0 0 0 1px $bg_color;
    }
  }
}
