  // Xfce Panel

$xfce_panel_bg_color: #333839;
$xfce_panel_fg_color: #d2d2d2;
$xfce_panel_selected_bg_color: desaturate(darken(#cee5fc, 50%), 35%);
$xfce_panel_selected_fg_color: #e2e2e2;

.xfce4-panel.background {
    background-color: $xfce_panel_bg_color;
    color: $xfce_panel_fg_color;
    font-weight: normal;
    text-shadow: none;
    -gtk-icon-shadow: none;

    button, button.flat { @extend %xfce_panel_button; }
}

.xfce4-panel.panel {
  menu {
    font-weight: normal;
  }
  menubar > menuitem {
    &:hover, &:active { color: lighten(desaturate(darken(#cee5fc, 50%), 35%), 15%); }
  }
}

#tasklist-button {
  color: transparentize($xfce_panel_fg_color, 0.2);
  border-radius: 0;
  border: none;
  background-color: transparentize($xfce_panel_bg_color, 1);

  &:hover {
    color: lighten($xfce_panel_fg_color, 10%);
    background-color: transparentize(black, 0.8);
  }

  &:checked {
    color: lighten($xfce_panel_fg_color, 10%);
    background-color: transparentize(black, 0.75);
    box-shadow: inset 0 -2px $selected_bg_color;
  }
}

%xfce_panel_button {
  border: none;
  border-radius: 2px;
  margin-left: 1px;
  margin-right: 1px;
  color: $xfce_panel_fg_color;
  background-image: none;
  background-color: transparentize($xfce_panel_bg_color, 1);
  box-shadow: none;

  &:hover {
    color: $xfce_panel_selected_fg_color;
    border: none;
    background-color: lighten($xfce_panel_bg_color, 9%);
  }
  &:active, &:checked {
    color: $xfce_panel_selected_fg_color;
    border: none;
    background-color: lighten($xfce_panel_bg_color, 12%);

    label, image { color: inherit; }
  }
}


  // Xfce pulseaudio plugin

#pulseaudio-button menu {
  scale trough {
    @extend %scale_trough;
    background-color: darken($dark_fill, 5%);
  }
  @if $variant == 'dark' {
    scale highlight {
      box-shadow: 0 0 0 1px $bg_color;
    }
    switch:checked {
      box-shadow: 0 0 0 1px $bg_color;
    }
  }
}


  // Xfce tabwin (alt-tab switcher)

#xfwm-tabwin {
  background-image: image($xfce_panel_bg_color);
  color: $xfce_panel_fg_color;
  text-shadow: none;
  border-radius: 5px;

  button {
    background-image: none;
    color: $xfce_panel_fg_color;
    border: none;
    border-radius: 3px;
    box-shadow: none;

    &:active, &:checked, &:active:hover, &:checked:hover {
      color: $xfce_panel_selected_fg_color;
      background: transparentize($xfce_panel_selected_bg_color, .2);
    }
    &:hover {
      color: $xfce_panel_selected_fg_color;
      background: $xfce_panel_selected_bg_color;
      transition-duration: 50ms;
    }
  }
}


  // Xfce notifications

#XfceNotifyWindow {
    background-color: $xfce_panel_bg_color;
    color: $xfce_panel_selected_fg_color;
    border-color: darken($xfce_panel_bg_color, 8%);
    border-radius: 3px;

    button {
      @include button(normal, $xfce_panel_bg_color, $xfce_panel_fg_color);

       &:hover {
          @include button(hover, $xfce_panel_bg_color, $xfce_panel_fg_color);
       }

       &:active {
          @include button(active, $xfce_panel_bg_color, $xfce_panel_fg_color);
       }

       &:disabled {
          @include button(insensitive, $xfce_panel_bg_color, $xfce_panel_fg_color);
       }
    }

//    label#summary {
//        font-weight: bold;
//    }

    progressbar {
        min-height: 6px;
        border-radius: 3px;
        progress {
            background-image: none;
            background-color: $xfce_panel_selected_bg_color;
            border: none;
            box-shadow: none;
        }
        trough {
            background-color: mix(darken($xfce_panel_bg_color, 8%), $xfce_panel_bg_color, 50%);
        }
    }
}

  // Xfce workspace switcher

wnck-pager {
  color: mix($xfce_panel_fg_color, $xfce_panel_bg_color, 30%);
  &:selected { background-color: transparentize(white, .95); }
  &:hover { background-color: transparentize(white, .85); }
}
