// General guidelines:
// - very unlikely you want to edit something else than _common.scss
// - keep the number of defined colors to a minimum, use the color blending functions if
//   you need a subtle shade
// - if you need to inverse a color function use the @if directive to match for dark $variant

$variant: @gtk_variant@;

$gtk: @gtk_version@;
$gnome: @gnome_version@;

@import 'gtk3-colors';
@import 'gtk3-colors-public';
@import 'gtk3-drawing';
@import 'gtk3-common';
@import 'gtk3-apps';
@import 'gtk3-xfce';
