// When color definition differs for dark and light variant
// it gets @if ed depending on $variant

$base_color: if($variant == 'light', #ffffff, #272929);
$text_color: if($variant == 'light', black, #c8c8c8);
$bg_color: if($variant == 'light', #eeeeee, #353839);
$fg_color: if($variant == 'light', #101010, #c8c8c8);

// These colors are used to provide dark fg on light bg in a light theme
$selected_bl_color: if($variant == 'light', #cee5fc, desaturate(darken(#cee5fc, 50%), 35%));
$selected_fl_color: if($variant == 'light', #101010, #d2d2d2);

// These colors are sent to colors-public, for applications
$selected_bg_color: if($variant == 'light', desaturate(darken($selected_bl_color, 30%), 20%), $selected_bl_color);
$selected_fg_color: if($variant == 'light', #ffffff, $selected_fl_color);

$borders_color: if($variant == 'light', darken($bg_color, 26.5%), darken($bg_color, 8.5%));
$alt_borders_color: if($variant == 'light', darken($bg_color, 35%), darken($bg_color, 8.5%));
$selected_borders_color: if($variant== 'light', desaturate(darken($selected_bg_color, 10%), 25%), darken($selected_bg_color, 20%));
$borders_edge: if($variant == 'light', transparentize(white, 0.2), transparentize($fg_color, 0.93));

$top_hilight: $borders_edge;
$dark_fill: if($variant == 'light', mix($borders_color, $bg_color, 30%), mix($borders_color, $bg_color, 32%));
$infobar_color: if($variant == 'light', #dbd2c9, desaturate(darken(#dbd2c9, 50%), 10%));

$link_color: if($variant == 'light', desaturate(darken($selected_bg_color, 15%), 10%), lighten($selected_bg_color, 15%));
$link_visited_color: if($variant == 'light', desaturate(darken($selected_bg_color, 25%), 10%), lighten($selected_bg_color, 7%));

$headerbar_color: if($variant == 'light', lighten($bg_color, 4%), darken($bg_color, 2%));
$menu_color: if($variant == 'light', lighten($bg_color, 5%), mix($bg_color, $base_color, 40%));
$popover_bg_color: $menu_color;
$popover_hover_color: $selected_bl_color;
$popover_button_color: if($variant == 'light', darken($menu_color, 2%), lighten($popover_bg_color, 4%));

$scrollbar_bg_color: if($variant == 'light', mix($bg_color, $fg_color, 95%), mix($base_color, $bg_color, 50%));
$scrollbar_slider_color: mix($fg_color, $bg_color, 35%);
$scrollbar_slider_hover_color: mix($fg_color, $bg_color, 45%);
$scrollbar_slider_active_color: $scrollbar_slider_hover_color;
$scrollbar_slider_finetune_color: if($variant=='light', desaturate(darken($selected_bg_color, 10%), 10%), lighten($selected_bg_color, 5%));

$warning_color: #da802a;
$error_color: if($variant == 'light', #c82828, desaturate(darken(#c82828, 10%), 10%));
$success_color: if($variant == 'light', #8bcb4d, desaturate(darken(#8bcb4d, 10%), 10%));

$osd_fg_color: if($variant == 'light', $fg_color, #d2d2d2);
$osd_text_color: if($variant == 'light', $text_color, #d2d2d2);
$osd_bg_color: if($variant == 'light', transparentize(#dfddd9, 0.07), transparentize(#212323, 0.2));
$osd_borders_color: if($variant == 'light', transparentize(darken(#dfddd9, 12%), 0.07), transparentize(darken(#212323, 3%), 0.2));
$osd_borders_color_dark: if($variant == 'light', transparentize(darken(#dfddd9, 20%), 0.07), darken($borders_color, 3%));

$osd_insensitive_bg_color: if($variant == 'light', transparentize(mix($osd_fg_color, opacify($osd_bg_color, 1), 10%), .2), transparentize(mix($osd_fg_color, opacify($osd_bg_color, 1), 10%), 0.5));
$osd_insensitive_fg_color: if($variant == 'light', mix($osd_fg_color, opacify($osd_bg_color, 1), 40%), mix($osd_fg_color, opacify($osd_bg_color, 1), 30%));

$sidebar_bg_color: mix($bg_color, $base_color, 50%);
$base_hover_color: transparentize($fg_color, 0.95);
$tooltip_bg_color: if($variant == 'light', transparentize(#dfddd9, 0.07), transparentize(#212323, 0.1));
$tooltip_borders_color: transparentize(black, 0.7);
$shadow_color: transparentize(black, 0.9);
$drop_target_color: if($variant == 'light', #59a014, desaturate(lighten(#59a014, 5%), 25%));

$insensitive_fg_color: mix($fg_color, $bg_color, 40%);
$insensitive_bg_color: if($variant == 'light', mix($bg_color, $base_color, 60%), mix($bg_color, $base_color, 80%));
$insensitive_borders_color: $borders_color;
$insensitive_osd_borders_color: $osd_borders_color;

$backdrop_fg_color: if($variant == 'light', mix($fg_color, $base_color, 60%), mix($fg_color, $bg_color, 50%));
