$variant: @gtk_variant@;
$size: @gtk_size@;
$tone: @tone@;
$style: @style@;
$scale_style: @scale_style@;
$scrollbar_handles: @scrollbar_handles@;
$button_outlines: @button_outlines@;

$gtk: @gtk_version@;
$gnome: @gnome_version@;

@import 'gtk3-colors';
@import 'gtk3-variables';
@import 'gtk3-colors-public';
@import 'gtk3-drawing';
@import 'gtk3-common';
@import 'gtk3-apps';
@import 'gtk3-xfce';
