$variant: @gtk_variant@;
$size: @gtk_size@;

$gtk: @gtk_version@;
$gnome: @gnome_version@;

@import 'gtk3-colors';
@import 'gtk3-colors-public';
@import 'gtk3-drawing';
@import 'gtk3-common';
@import 'gtk3-apps';
@import 'gtk3-xfce';
