.tab-line { display: none !important; }
#urlbar[focused=true] {
  border-color: #18334d !important;
  box-shadow: inset 0 0 0 1px #2f669c !important;
}
/*.tabbrowser-tab::before, */
/*.tabbrowser-tab::after{ display: none !important; }*/
/*.tab-background {*/
/*    background-attachment: none !important;*/
/*    background-color: #2e3132 !important;*/
/*    background-image: none !important;*/
/*}*/
.tab-background[selected="true"] {
    background-attachment: none !important;
    background-color: #3a3d3e !important;
    background-image: none !important;
}
#nav-bar { background: #3a3d3e !important; }

